.clear-filters-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: auto;
}

.clear-filters-btn:hover {
  background-color: #d32f2f;
}

@media (max-width: 600px) {
  .clear-filters-btn {
    padding: 10px;
    width: auto;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}