html {
    font-size: 16px;
}

body {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
    /* 32px */
    text-transform: capitalize;
}

p {
    font-size: 1rem;
    /* 16px */
}

h2 {
    text-transform: capitalize;
}

/* EVERYTHING CONTAINTER*/
.content-container {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    margin: 0;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

/* MAIN CONTAINTER(REVIEWS)*/

.main-layout {
    display: flex;
    flex-direction: row;  /* Ensures children are laid out in a row */
    justify-content: space-between; /* Distributes space between children */
    align-items: flex-start; /* Aligns children at the top of the container */
    flex-wrap: nowrap; /* Allows items to wrap to the next line */
    width: 100%; /* Full width of its container */
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column; /* Stack vertically */
    }
    .latest-review-container {
        order: 2; /* Make sure this is below the main content */
        width: 100%; /* Full width for smaller screens */
        padding: 20px; /* Padding for aesthetics */
    }
    .main-content {
        order: 1; /* Main content appears first */
        width: 100%; /* Full width */
    }
}

@media (min-width: 768px) {
    .latest-review-container {
        order: 2; /* Position to the right */
        flex-grow: 0;  /* No growth beyond specified width */
        width: 30%; /* Width set to 30% of the parent container */
        padding: 20px; /* Padding */
    }
    .main-content {
        order: 1; /* Main content first */
        flex-grow: 1; /* Fill available space */
        width: calc(70% - 40px); /* Calculate width to leave space for sidebar */
        padding-right: 20px; /* Padding between main content and reviews */
    }
}

.main-content {
    flex-grow: 1;
    /* Allow main content to take up the available space */
    width: 100%;
    /* Take full width to prevent overlap */
}

/* GAME CONTAINER(EACH REVIEW)*/
.game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* Align the items to the top */
    padding: 0.5%;
    margin-bottom: 2%;
    width: 100%;
    flex-wrap: wrap;
    /* Space between game containers */
}

@media (min-width: 600px) {
    .game-container {
        width: 100%; /* Sets width to less than half to fit two items per row */
    }

    .image-placeholder.large {
        width: 400px; /* Fixed width */
        height: 250px; /* Fixed height */
    }
}

/* smaller screens */
@media (max-width: 768px) {
    .game-container {
        flex-direction: column;
    }

    .image-and-score {
        width: 100%;
        margin-right: 0;
    }

    .game-info {
        width: 100%
    }
}

.image-placeholder {
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-right: 10px;
}

@media (min-width: 600px) {
    .image-placeholder {
        width: 200px;
        height: 150px;
    }
}

.game-info {
    display: block;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

h3 {
    margin-top: 0;
}

p {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 500px;
    width: 500px;
    margin-top: 0;
}

/* LATEST REVIEW CONTAINTER*/
.latest-review-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.latest-review-container h2 {
    margin-bottom: 20px;
}

.image-placeholder.large {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    flex-wrap: wrap;
    width: 100%;
}

.image-placeholder.large img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (min-width: 600px) {
    .image-placeholder.large {
        width: 400px;
        height: 250px;
    }
}

.latest-review-container p {
    text-align: justify;
}

.review-score {
    color: blue;
}

.image-and-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-right: 20px;
    flex-wrap: wrap;
  }

.score-badge {
    margin-top: 10px; 
  }

  .score-section {
    text-align: center;
    margin-top: 10px;
  }
  .score-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
