html {
    font-size: 16px;
}

body {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
    /* 32px */
    text-transform: capitalize;
}

p {
    font-size: 1rem;
    /* 16px */
}

h2 {
    text-transform: capitalize;
}

/* EVERYTHING CONTAINTER*/
.content-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

/* MAIN CONTAINTER(REVIEWS)*/

.main-layout {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
    }
    .latest-review-container {
        order: 2;
        width: 100%;
        padding: 20px;
    }
    .main-content {
        order: 1;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .latest-review-container {
        order: 2;
        flex-grow: 0;
        width: 30%;
        padding: 20px;
    }
    .main-content {
        order: 1;
        flex-grow: 1;
        width: calc(70% - 40px);
        padding-right: 20px;
    }
}

.main-content {
    flex-grow: 1;
    width: 100%;
}

/* GAME CONTAINER(EACH REVIEW)*/
.game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5%;
    margin-bottom: 2%;
    width: 100%;
    flex-wrap: wrap;
}

@media (min-width: 600px) {
    .game-container {
        width: 100%;
    }

    .image-placeholder.large {
        width: 400px;
        height: 250px;
    }
}

/* smaller screens */
@media (max-width: 768px) {
    .game-container {
        flex-direction: column;
    }

    .image-and-score {
        width: 100%;
        margin-right: 0;
    }

    .game-info {
        width: 100%
    }
}

.image-placeholder {
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-right: 10px;
}

@media (min-width: 600px) {
    .image-placeholder {
        width: 200px;
        height: 150px;
    }
}

.game-info {
    display: block;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

h3 {
    margin-top: 0;
}

p {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 500px;
    width: 500px;
    margin-top: 0;
}

/* LATEST REVIEW CONTAINTER*/
.latest-review-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.latest-review-container h2 {
    margin-bottom: 20px;
}

.image-placeholder.large {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    flex-wrap: wrap;
    width: 100%;
}

.image-placeholder.large img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (min-width: 600px) {
    .image-placeholder.large {
        width: 400px;
        height: 250px;
    }
}

.latest-review-container p {
    text-align: justify;
}

.review-score {
    color: blue;
}

.image-and-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-right: 20px;
    flex-wrap: wrap;
  }

.score-badge {
    margin-top: 10px; 
  }

  .score-section {
    text-align: center;
    margin-top: 10px;
  }
  .score-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
