body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 25%);
    padding: 0.5rem 1rem;
}
.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-logo {
    flex-grow: 1;
    text-align: center;
    background-color: hsl(0, 0%, 25%);
    display: flex;
    align-items: center; /* Vertically center the logo */
    justify-content: center; /* Horizontally center the logo */
}
.nav-logo img {
    height: 40px;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

@media (min-width: 576px) {
    .main {
        flex-direction: row; /* Horizontal layout for larger screens */
        flex-wrap: wrap;
    }
}
